<h2> Add a Question </h2>
<form (submit) = addQuestion() #triviaForm = "ngForm">
<div class = "row">
  <div class="col-sm-5">
      Question:<br>
      <input type = 'text' name='question' [(ngModel)] = "new_question.question"
        #name = "ngModel"
        required minlength = "15" class="form-control">
  </div>
  <div class="col-sm-6 error" *ngIf='!name.valid && (name.dirty || name.touched)'> Must be atleast 15 characters</div>
</div>
<br>
  Correct Answer:<br>
  <input type = 'text' name='correctans' [(ngModel)] = "new_question.correctans"
    #correctans = "ngModel"
    required >
    <div class="col-sm-6 error" *ngIf='!correctans.valid && (correctans.dirty || correctans.touched)'> Correct answer cannot be empty</div>
    <br>

  Fake Answer 1:<br>
    <input type = 'text' name='fake1' [(ngModel)] = "new_question.fake1"
    #fake1 = "ngModel"
    required>
    <div class="col-sm-6 error" *ngIf='!fake1.valid && (fake1.dirty || fake1.touched)'> Fake Answer cannot be empty</div>
    <br>
  Fake Answer 2:<br>
    <input type = 'text' name='fake2' [(ngModel)] = "new_question.fake2"
    #fake2 = "ngModel"
    required >
    <div class="col-sm-6 error" *ngIf='!fake2.valid && (fake2.dirty || fake2.touched)'> Fake Answer cannot be empty</div>
    <br><br>
    <input type="submit" value="Add!" [(disabled)] = '!triviaForm.valid'><br>
    <input type="submit" value="Cancel"> <br>
</form>
